.left-nav-wrapper{
  display flex
  flex-direction column
  width 50px
  border-right 1px solid #e3e3e3
  height 100%
  padding-top 20px
  box-sizing border-box
  .left-nav-item{
    display flex
    height 50px
    justify-content center
    align-items center
    cursor pointer
    color #9c9c9c
    i{
      font-size 24px
    }
  }
}