#login-root{
    height: 100%
}
.login-content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .login-form-content{
        h1{
            text-align: center
        }
        .login-form{
            width: 260px
            .login-form-button{
                width: 100%
            }
        }
    }
}